[package]
name = "groth16"
version = "0.1.1-alpha.0"
authors = [
    "Sean Bowe",
    "Alessandro Chiesa",
    "Matthew Green",
    "Kobi Gurkan",
    "Ian Miers",
    "Pratyush Mishra",
    "Howard Wu"
]
description = "An implementation of the Groth 2016 zkSNARK proof system"
homepage = "https://libzexe.org"
repository = "https://github.com/scipr/zexe"
documentation = "https://docs.rs/groth16/"
keywords = ["zero knowledge", "cryptography", "zkSNARK", "SNARK", "Groth"]
categories = ["cryptography"]
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
license = "MIT/Apache-2.0"
edition = "2018"

################################# Dependencies ################################

[dependencies]
algebra-core = { git = "https://github.com/scipr-lab/zexe",  default-features = false, features = [ "derive" ] }
bench-utils = { git = "https://github.com/scipr-lab/zexe" }
ff-fft = { git = "https://github.com/scipr-lab/zexe", default-features = false }
r1cs-core = { git = "https://github.com/scipr-lab/zexe", default-features = false }
rand = { version = "0.7", default-features = false }
rayon = { version = "1", optional = true }

[dev-dependencies]
csv = { version = "1" }
algebra = { git = "https://github.com/scipr-lab/zexe", default-features = false, features = [ "bls12_377", "bls12_381", "cp6_782", "mnt6_298", "mnt4_298" ] }
r1cs-std = { git = "https://github.com/scipr-lab/zexe", default-features = false, features = [ "mnt6_298", "mnt4_298" ] }
crypto-primitives = { git = "https://github.com/scipr-lab/zexe", default-features = false, features = [ "gm17", "r1cs" ] }

[features]
default = ["parallel"]
std = ["algebra-core/std", "ff-fft/std", "r1cs-core/std"]
parallel = ["std", "algebra-core/parallel", "ff-fft/parallel", "rayon"]
print-trace = [ "bench-utils/print-trace" ]

[[example]]
name = "groth16"
path = "examples/snark-scalability/groth16.rs"
required-features = ["std"]

[[example]]
name = "groth16-recursive"
path = "examples/recursive-snark/groth16.rs"
required-features = ["std"]
